<launch>

  <!-- <rosparam command="load" file="$(find oarbot_moveit)/config/joint_names.yaml"/> -->

  <include file="$(find oarbot_moveit)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/j2n6s300/joint_states]</rosparam>
  </node>

  <include file="$(find oarbot_moveit)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find oarbot_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>