<?xml version="1.0"?>

<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- Import summit XL wheels -->
	<xacro:include filename="$(find oarbot_description)/urdf/wheels/omni_wheel.urdf.xacro" />
	<xacro:include filename="$(find oarbot_description)/urdf/base/oarbot_base.urdf.xacro" />
	<xacro:include filename="$(find kinova_description)/urdf/j2n6s300.xacro" />


	<!-- Wheel parameters -->
	<xacro:property name="wheel_offset_x" value="0.2225" />    <!-- x,y,z in translation from base_link to the center of the wheel -->
	<xacro:property name="wheel_offset_y" value="0.2045" />
	<xacro:property name="wheel_offset_z" value="0.0" />

	<xacro:macro name="robot">
		<xacro:summit_base/>

		<xacro:omni_wheel prefix="summit_front_right" parent="summit_base_link" reflect="false">
			<origin xyz="${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_front_left" parent="summit_base_link" reflect="true">
			<origin xyz="${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_back_left" parent="summit_base_link" reflect="true">
			<origin xyz="-${wheel_offset_x} ${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:omni_wheel prefix="summit_back_right" parent="summit_base_link" reflect="false">
			<origin xyz="-${wheel_offset_x} -${wheel_offset_y} ${wheel_offset_z}" rpy="0 0 0"/>
		</xacro:omni_wheel>

		<xacro:j2n6s300 prefix="j2n6s300" base_parent="support">
		</xacro:j2n6s300>   

		<!-- Transmission 1 -->
        <transmission name="tran1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_1">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor1">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission 2 -->
        <transmission name="tran2">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_2">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor2">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission 3 -->
        <transmission name="tran3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_3">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor3">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission 4 -->
        <transmission name="tran4">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_4">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor4">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission 5 -->
        <transmission name="tran5">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_5">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor5">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission 6 -->
        <transmission name="tran6">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_6">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motor6">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission finger1 -->
        <transmission name="tranFinger1">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_finger_1">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motorFinger1">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission finger2 -->
        <transmission name="tranFinger2">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_finger_2">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motorFinger2">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<!-- Transmission finger1 -->
        <transmission name="tranFinger3">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="j2n6s300_joint_finger_3">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
            </joint>
            <actuator name="motorFinger3">
              <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
              <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>

		<xacro:omni_steering />

   </xacro:macro>

   <xacro:robot/>

</robot>

